/* Stylesheet for custom page*/
body{
	margin:0px;
	background:url(../images/stars.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: "Arial", "Verdana", Times, serif;
}
.exp_img{
    height: auto; 
    width: 29%; 
    max-width: 200px; 
    max-height: 200px;
	margin:auto;
	padding:10px;
}
.constructionBanner{
background:url(../images/construction.jpg);
color:white;
width:100%;
height:100%;
text-align:center;
font-size:20px;
}
.title{
color:#fff9e9;
width:100%;
display:block;
padding:20px;
}
.social{
    display: inline-block;
	width:145px;
	height:145px;
	text-decoration:none;
	color:transparent;
	text-align:center;
}
.social:hover{
	opacity: .5;
	color:white;
}
.nav{
	height:160px;
	width:900px;
	margin:auto;
}
.nav_indv{
	display:inline-block;
	background-color:#fff9e9;
	text-decoration:none;
	width:145px;
	height:145px;
	color:transparent;
	text-align:center;
}
.nav_indv:hover{
	opacity: .5;
	color:white;
}
.section_header{
text-align:center;	
color:#4B0082;
}
.section_header h4, .section_header h2{
margin:5px;
}
.section_details{	
color:#585983;
}
.quote{
margin:30px;
text-align:center;	
}
#rehome{
	width:40px;
	height:40px;
	float:right;
	margin:20px;
}
/*-------------Favorite Reads------------------*/
#favReads{
	text-align:center;
	height:100%;
	width:100%;
	background-color:rgba(256,256,256,.8);
	padding:10px;
}
.books_indv{
	display:inline-block;
	background-color:none;
	text-decoration:none;
	width:185px;
	height:auto;
	color:transparent;
	text-align:center;
	margin:20px;
}
.books_indv:hover{
	opacity: .5;
	color:#4B0082;
}
.books_detail{
	display:inline-block;
	background-color:none;
	text-decoration:none;
	width:185px;
	height:auto;
	text-align:center;
	margin:20px;
}
.bookDetailsTable{
    margin-left:auto; 
    margin-right:auto;
	width:75%;
}
.bookDetailsTable td{
	text-align:left;
	word-wrap:break-word;
}
.returnarrow{
	width:25px;
	height:auto;
}
/*--------------End Favorite Reads-------------*?
/*-------------------About Me-----------------------*/
#aboutMe{
height:100%;
width:100%;
background-color:rgba(256,256,256,.8);
padding:10px;
}
.aboutMeTable img{
	width:300px;
	height:auto;
	padding:5px;
	border-radius:15px;
}
.aboutMeTable{
	width:100%;
}


/*-------------------End About Me-----------------------*/
/*-------------------Experience-----------------------*/
#profExp{
width:100%;
background-color:rgba(256,256,256,.8);
text-align:center;
padding:10px;
}

.expOptIndv{
	display:inline-block;
	background-color:none;
	text-decoration:none;
	width:270px;
	height:auto;
	color:transparent;
	text-align:center;
	margin:20px;
}
.expOptIndv:hover{
background-color:rgba(256,256,256,.5);
}
.expDetailsTable {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.expDetailsTable td{
	text-align:left;
	padding:10px;
	word-wrap:break-word;
}
/*-------------------End Experience-----------------------*/
/*-------------------Patient Engagement-----------------------*/
#patEng{
	text-align:center;
	height:100%;
	width:100%;
	background-color:rgba(256,256,256,.8);
	padding:10px;
}
}
.patEngOptionsTable{
	margin-top:25px;
	margin-left:auto; 
    margin-right:auto;
	width:60%;
}
.patEngContainer{
	text-align:center;
	margin:auto;
}
.patEng_options_single{
	display:inline-block;
	background-color:rgba(54,57,89,1);
	text-align:center;
	height:100px;
	line-height:100px;
	width:25%;
	padding:25px;
	color:white;
	text-decoration:none;
}
.spanClass{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
}
.patEng_options_single:hover{
	background-color:rgba(54,57,89,.8);
}
#patEngMU, #patEngStrategy, #patEngExp{
	width:70%;
	margin:auto;
	padding:25px;
}
.patEngTables{
	text-align:center;
}
/*-------------------End Patient Engagement-----------------------*/
/*-------------------Master Switch Class----------------*/
.dispNone{
display:none!important;	
}
/*----------------End Master Switch Class---------------*/
/*------------------Begin Mobile/Small Screen Only------------------*/
@media screen  and (max-width: 320px) /* Phone */ {

}