/* Stylesheet for custom page*/
body{
	margin:0px;
	background:url(../images/stars.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: "Arial", "Verdana", Times, serif;
}
.exp_img{
    height: auto; 
    width: 29%; 
    max-width: 200px; 
    max-height: 200px;
	margin:auto;
	padding:10px;
}
.constructionBanner{
background:url(../images/construction.jpg);
color:white;
width:100%;
height:100%;
text-align:center;
font-size:20px;
}
.title{
color:#fff9e9;
width:100%;
display:block;
padding:5px;
}
.social{
    display: inline-block;
	width:145px;
	height:145px;
	text-decoration:none;
	color:transparent;
	text-align:center;
}
.social:hover{
	opacity: .7;
	color:white;
}
.nav{
	height:160px;
	width:900px;
	margin:auto;
}
.nav_indv{
	display:inline-block;
	background-color:#fff9e9;
	text-decoration:none;
	width:145px;
	height:145px;
	color:transparent;
	text-align:center;
}
.nav_indv:hover{
	opacity: .7;
	color:white;
}
.section_header{
text-align:center;	
}
.section_header h4, .section_header h2{
margin:5px;
}
#rehome{
	width:40px;
	height:40px;
	float:right;
	margin:20px;
}
/*-------------------About Me-----------------------*/
#aboutMe{
height:250px;
width:100%;
background-color:rgba(256,256,256,.4)	
}
/*-------------------End About Me-----------------------*/
/*-------------------Experience-----------------------*/
#profExp{
height:250px;
width:100%;
background-color:rgba(256,256,256,.4)	
}
/*-------------------End Experience-----------------------*/
/*-------------------Favorite Reads-----------------------*/
#favReads{
height:250px;
width:100%;
background-color:rgba(256,256,256,.4)	
}
/*-------------------End Favorite Reads-----------------------*/
/*-------------------Patient Engagement-----------------------*/
#patEng{
height:250px;
width:100%;
background-color:rgba(256,256,256,.4)	
}
/*-------------------End Patient Engagement-----------------------*/
/*-------------------Master Switch Class----------------*/
.dispNone{
display:none!important;	
}
/*----------------End Master Switch Class---------------*/
/*------------------Begin Mobile/Small Screen Only------------------*/
@media only screen and (max-width: 1200px)
{
}
