html, body{
	    font-family: Verdana,sans-serif;
}
/*==========Main Sizing==============*/
.header{height:10%;}
.startContainer{height:30%;}
.slideContainer{height:30%;}
/*===================================*/
.overlay{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
.header{
	width:100%;
	text-align:center;
	background-color:#6ea9b5;
	font-size:50px;
	margin:auto;
	margin-bottom:5px;
}
.header p{
	padding:10px;
}
.startContainer{
	width:100%;
	text-align:center;
	margin:auto;
	display:block;
    padding: 2px;
    margin: 0px;
}

.startButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
	width:49%;
	height:100%;
    text-align: center;
    display: inline-block;
    font-size: 50px;
	
}
.startButton:hover {
	cursor: pointer;
}