html, body{
	    font-family: Verdana,sans-serif;
}
.header{
	width:100%;
	text-align:center;
	background-color:#6ea9b5;
	height:45px;
	font-size:2em;
	margin:auto;
	margin-bottom:5px;
}
.startContainer{
	width:100%;
	text-align:center;
	margin:auto;
	height:30px;
}

.startButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
	width:24%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.startButton:hover {
	cursor: pointer;
}