.slidecontainer {
    overflow-x:auto; /* Responsive width */
	margin-top:15px;
}
#sliderTable {
	width:100%;
}
#sliderTable td:nth-child(1) {  
  	color:white;
	display:inline-block;
	width:100%;
	background-color:#6ea9b5;
	height:30px;
	text-align:center;
}
#sliderTable td:nth-child(2) {
	width:80%;
}
#sliderTable td{
	padding:0;
}
#sliderTable tr{
	vertical-align:middle;
}
.slidecontainer {
	vertical-align:middle;
}


/* The slider itself */
.slider {
	margin:0;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 30px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}